@import url(header.css);

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --header-color: #2f4a5a;
  --primary-color: #8f0101;
  --secundary-color: #b81515;
  --border-color: #d9d9d9;
  --placeholder-color: #8c8c8c;
  --placeholder-focu-color: #222222;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-terciary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body, img, h1, p fiEldset, legend, label, input, select, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-colorprimary-color);
}